#antena1{
	position:relative;
	background-color:black;
	height:50px;
	width:5px;
	left:575px;
	top:100px
}
#antena2{
	position:absolute;
	background-color:green;
	border-radius:100%;
	height:25px;
	width:25px;
	left:573px;
	top:85px
}
#oreja1{
	position:absolute;
	background-color:green;
	border-radius:100%;
	height:30px;
	width:30px;
	left:480px;
	top:190px;

}
#oreja2{
	position:absolute;
	background-color:green;
	border-radius:100%;
	height:30px;
	width:30px;
	left:655px;
	top:190px;

}
#brazo1{
	position:absolute;
	background-color:black;
	height:130px;
	width:10px;
	transform: rotate(45deg);
	left:690px;
	top:300px;
	border-radius:20%;
}

#brazo2{
	position:absolute;
	background-color:black;
	height:130px;
	width:10px;
	transform: rotate(-45deg);
	left:460px;
	top:300px;
	border-radius:20%;

}

#robot{
	position:relative;
	top:100px;
	left:500px;
}
#cabeza{
	background-color:#2DDFBC;
	height:150px;
	width:150px;
}

#ojo1{
	position:absolute;
	background-color:#368790;
	height:30px;
	width:30px;
	top:30px;
	left:30px;
}
#ojo2{
	position:absolute;
	background-color:#368790;
	height:30px;
	width:30px;
	top:30px;
	left:100px;
}
#pupila1{
	position:relative;
	background-color:black;
	height:15px;
	width:15px;
	top:7px;
	left:7px;
}
#pupila2{
	position:relative;
	background-color:black;
	height:15px;
	width:15px;
	top:7px;
	left:7px;
}
#nariz{
	position:relative;
	background-color:red;
	height:30px;
	width:30px;
	border-radius:100px;
	top:55px;
	left:65px;
}
#boca{
	position:relative;
	background-color:yellow;
	height:20px;
	width:90px;
	top:70px;
	left:35px;
}
#boca2{
	position:relative;
	background-color:red;
	height:10px;
	width:70px;
	top:5px;
	left:10px;
}
#cuello{
	position:relative;
	background-color:#2DDFBC;
	height:25px;
	width:30px;
	left:60px;
}
#cuerpo1{
	position:relative;
	background-color:#2DDFBC;
	height:150px;
	width:150px;
}
#boton1{
	position:relative;
	background-color:green;
	height:35px;
	width:120px;
	left:15px;
	top:30px;
}
#boton2{
	position:relative;
	background-color:green;
	height:35px;
	width:120px;
	left:15px;
	top:60px;
}
#bajo{
	position:relative;
	background-color:#2DDFBC;
	height:20px;
	width:100px;
	left:25px;
}
#cuerpo2{
	position:relative;
	background-color:#2DDFBC;
	height:150px;
	width:220px;
	left:-35px;
	top:10px;
}
#pie1{
	position:relative;
	background-color:green;
	height:100px;
	width:35px;
	left:20px;
	top:20px;
}
#pie2{
	position:relative;
	background-color:green;
	height:100px;
	width:35px;
	left:95px;
	top: -70px;
}
#pie3{
	position:relative;
	background-color:green;
	height:100px;
	width:35px;
	left:170px;
	top:-180px;
}
h1{
	color:yellow;
	background-color:red;

}
#nombre{
	height:300px;
	width:300px;
}